<div class="frame frame-is-dark">
  <h3 style="margin: 0;">Background Sync API</h3>
  <article class="frameChain" style="margin: 2em 0 0">
    <div class="browserImage">
      <img src="images/browsers/chrome.png" alt="">
    </div>
    <div class="browserImage browserImage-is-notSupported">
      <img src="images/browsers/edge.png" alt="">
    </div>
    <div class="browserImage browserImage-is-notSupported">
      <img src="images/browsers/firefox.png" alt="">
    </div>
    <div class="browserImage browserImage-is-notSupported">
      <img src="images/browsers/internet-explorer.png" alt="">
    </div>
    <div class="browserImage browserImage-is-notSupported">
      <img src="images/browsers/safari.png" alt="">
    </div>
  </article>
  <article class="frameChain" style="margin: 3em 0 0">
    <div class="browserImage">
      <img src="images/browsers/chrome.png" alt="">
    </div>
    <div class="browserImage browserImage-is-notSupported">
      <img src="images/browsers/opera-mini.png" alt="">
    </div>
    <div class="browserImage browserImage-is-notSupported">
      <img src="images/browsers/safari-ios.png" alt="">
    </div>
    <div class="browserImage">
      <img src="images/browsers/samsung-internet.png" alt="">
    </div>
    <div class="browserImage">
      <img src="images/browsers/uc.png" alt="">
    </div>
  </article>
</div>
