<div class="frame frame-is-dark">
  <article class="frameChain">
    <img src="images/tools/tailLeftDark.png" style="image-rendering: pixelated;" class="chainImage" alt="">
    <img src="images/chapter03/fastenClosed.png" class="chainImage" alt="">
    <img src="images/tools/tailMiddleDark.png" style="image-rendering: pixelated;" class="chainImage" alt="">
    <img src="images/chapter03/fastenOpen.png" class="chainImage" alt="">
    <img src="images/tools/tailRightDark.png" style="image-rendering: pixelated;" class="chainImage" alt="">
  </article>
</div>
