<div class="frame frame-is-dark">
  <article class="frameContent">
    <p><u>AMP to PWA — AMP + Service Worker + WebApp</u></p>
    <p>When user opens a link he is served an AMP version of the content and a Service Worker.</p>
    <p>Service Worker loads and caches app shell and initial data from the server.</p>
    <p>When user clicks another link to navigate to another page he is taken (instantly) to the full-featured WebApp.</p>
    <p>Backend has to serve content in 2 forms — as AMP-HTML and JSON.</p>
  </article>
</div>
