<div class="frame">
  <article class="frameChain frameChain-is-vertical">
    <img src="images/tools/tailTopDark.png" class="chainSmallerVerticalImage" alt="">
    <img src="images/chapter05/enerbergStart.png" class="chainSmallerVerticalImage" alt="">
    <img src="images/tools/tailCenterDark.png" class="chainSmallerVerticalImage" alt="">
    <img src="images/chapter05/enerbergProcess.png" class="chainSmallerVerticalImage" alt="">
    <img src="images/tools/tailCenterDark.png" class="chainSmallerVerticalImage" alt="">
    <img src="images/chapter05/enerbergFinish.png" class="chainSmallerVerticalImage" alt="">
    <img src="images/tools/tailBottomDark.png" class="chainSmallerVerticalImage" alt="">
  </article>
</div>
