<div class="frame">
  <article class="frameContent">
    <ul class="columnText">
      <li>Gary Dell'Abate</li>
      <li>María-Jose Carreño Quiñones</li>
      <li>
        <strike>Wonarllevyston Garlan Marllon Branddon Bruno Paullynelly Mell Oliveira Pereira</strike><br>
        Bruno Wonarleviston Oliveira Pereira
      </li>
      <li>Pelé</li>
      <li>Hugh Jassole</li>
      <li>Madurai Mani Iyer</li>
      <li>Ban Ki-moon</li>
      <li>Isa bin Osman</li>
      <li>Homer J. Simpson</li>
    </ul>
  </article>
</div>
