<div class="frame">
  <article class="frameChain">
    <img src="images/chapter02/googleEarth.png" class="chainImage" alt="">
    <img src="images/chapter02/autocad.png" class="chainImage" alt="">
    <img src="images/chapter02/figma.svg" class="chainImage" alt="">
  </article>
  <article class="frameChain" style="margin: 2em 0 0">
    <img src="images/chapter02/twitch.png" class="chainImage" alt="">
    <img src="images/chapter02/unrealEngine.png" class="chainImage" alt="">
    <img src="images/chapter02/unity.png" class="chainImage" alt="">
  </article>
</div>
