<div class="frame frame-is-dark">
  <article class="frameContent frameContent-is-screenshots">
    <div class="screenshotsHolder">
      <img src="images/chapter04/SmasungS4-Chrome.png" class="frameImage screenshotSmallerPhone" alt="">
      <img src="images/chapter04/SmasungS4-Firefox.png" class="frameImage screenshotSmallerPhone" alt="">
      <img src="images/chapter04/SamsungS4-Edge.png" class="frameImage screenshotSmallerPhone" alt="">
    </div>
    <div class="screenShotNote">Android (Samsung S4). Chrome, Firefox & Edge.</div>
  </article>
</div>
