<div class="frame frame-is-dark">
  <article class="frameChain">
    <img src="images/tools/tailLeftDark.png" style="image-rendering: pixelated;" class="chainImage" alt="">
    <img src="images/chapter02/smile01.png" style="image-rendering: pixelated;" class="chainImage" alt="">
    <img src="images/tools/tailMiddleDark.png" style="width: 50px; height: 5px; image-rendering: pixelated;" style="width: 50px; height: 5px;" class="chainImage" alt="">
    <img src="images/chapter02/smile02.png" style="image-rendering: pixelated;" class="chainImage" alt="">
    <img src="images/tools/tailRightDark.png" style="image-rendering: pixelated;" class="chainImage" alt="">
  </article>
  <article class="frameChain" style="margin: 5em 0 0">
    <img src="images/tools/tailLeftDark.png" style="image-rendering: pixelated;" class="chainImage" alt="">
    <img src="images/chapter02/smile01.png" style="image-rendering: pixelated;" class="chainImage" alt="">
    <img src="images/tools/tailMiddleDark.png" style="width: 50px; height: 5px; image-rendering: pixelated;" class="chainImage" alt="">
    <img src="images/chapter02/smile01.png" style="image-rendering: pixelated;" class="chainImage" alt="">
    <img src="images/tools/tailMiddleDark.png" style="width: 50px; height: 5px; image-rendering: pixelated;" class="chainImage" alt="">
    <img src="images/chapter02/smile02.png" style="image-rendering: pixelated;" class="chainImage" alt="">
    <img src="images/tools/tailRightDark.png" style="image-rendering: pixelated;" class="chainImage" alt="">
  </article>
</div>
