<div class="frame">
  <article class="frameContent frameContent-is-columns">
    <div class="column">
      <img src="images/chapter03/datsunSegment.png" class="columnImage" alt="">
    </div>
    <div class="column">
      <img src="images/tools/tailTopDark.png" class="chainVerticalImage" alt="">
      <img src="images/chapter03/datsunSelect.png" class="chainVerticalImage" alt="">
      <img src="images/tools/tailCenterDark.png" class="chainVerticalImage" alt="">
      <img src="images/chapter03/datsunSelectActive.png" class="chainVerticalImage" alt="">
      <img src="images/tools/tailBottomDark.png" class="chainVerticalImage" alt="">
    </div>
  </article>
</div>
