<div class="frame frame-is-dark">
  <article class="frameContent">
    <p>Houdini APIs extend CSS through special worklets.</p>
    <ul>
      <li>Worklet runs in-sync with the browser rendering engine.</li>
      <li>Worklet has very limited scope and it's own thread.</li>
      <li>Worklet won't affect performance in the main thread.</li>
      <li>Worklet won't throw errors in the main thread.</li>
      <li>If a worklet runs too slow it may be skipped at rendering time.</li>
    </ul>
  </article>
</div>
