<div class="frame">
  <article class="frameGallery">
    <img src="images/chapter02/apple.png" class="galleryImage" alt="">
    <img src="images/chapter02/disney.png" class="galleryImage" alt="">
    <img src="images/chapter02/dropbox.png" class="galleryImage" alt="">
    <img src="images/chapter02/facebook.png" class="galleryImage" alt="">
    <img src="images/chapter02/lego.png" class="galleryImage" alt="">
    <img src="images/chapter02/steam.png" class="galleryImage" alt="">
    <img src="images/chapter02/twitter.png" class="galleryImage" alt="">
    <img src="images/chapter02/xbox.png" class="galleryImage" alt="">
  </article>
</div>
