<div class="frame chapter3">
  <article class="frameContent">
    <h2>Flipkart</h2>
    <p>В 2015 приняли app-only стратегию, закрыли мобильный сайт и в результате все ключевые показатели рухнули.</p>
    <p>Показатели PWA-приложения:</p>
    <ul>
      <li>Среднее время проведенное на сайте выросло с 70 сек. до 3.5 мин. (в 3 раза дольше)</li>
      <li>На 40% процентов вырос коэффицент вовлеченности</li>
      <li>На 70% процентов выросла конверсия главной страницы</li>
      <li>Потребление мобильного трафика клиентами в среднем уменьшилось в 3 раза</li>
    </ul>
  </article>
</div>
