<div class="frame">
  <article class="frameContent">
    <h1>Opera Mini (Прокси браузеры)</h1>
    <ul>
      <li>Очень популярен в развивабщихся странах.</li>
      <li>AdBlock на уровне браузера. Сайты в среднем на 30% быстрее.</li>
      <li>В среднем пртребляет на 14% меньше энергии, чем другие мобильные браузеры.</li>
    </ul>
    <h2>CSS в Opera Mini:</h2>
    <ul>
      <li>Игнорирует закругленные углы и градиенты.</li>
      <li>Игнорирует анимации (CSS и SVG).</li>
      <li>Игнорирует шрифты.</li>
    </ul>
  </article>
</div>
