<div class="frame">
  <article class="frameContent">
    <ul>
      <li>47% пользователей считают, что страница должна загружаться максимум за 2 сек.</li>
      <li>40% пользователей закроют вкладку браузера если сайт загружается дольше 3 сек.</li>
      <li>53% пользователей закроют вкладку браузера если сайт загружается дольше 3 сек. на мобильном устройстве</li>
      <li>52% клиентов онлайн-магазинов считает, что скорость работы сайта это одно из главных условий их лояльности</li>
      <li>64% клиентов не вернутся на сайт если останутся недовольны опытом покупки, 79% клиентов не вернутся из-за плохой производительности</li>
      <li>Замедление загрузки сайта на 1 секунду приводит к сокращению просмотров страниц на 4.9%</li>
    </ul>
  </article>
</div>
