<div class="frame">
  <article class="frameContent">
    <p>Opera Mini (Прокси браузеры)</p>
    <ul>
      <li>Очень популярен в развивабщихся странах.</li>
      <li>AdBlock на уровне браузера. Сайты в среднем на 30% быстрее.</li>
      <li>В среднем пртребляет на 14% меньше энергии, чем другие мобильные браузеры.</li>
    </ul>
    <p>CSS в Opera Mini:</p>
    <ul>
      <li>Игнорирует закругленные углы и градиенты.</li>
      <li>Игнорирует анимации (CSS и SVG).</li>
      <li>Игнорирует шрифты.</li>
    </ul>
  </article>
</div>
