<div class="frame">
  <article class="frameContent">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore, at libero, dolores quod ex nam officia reiciendis quibusdam veritatis maiores sequi minima? Itaque eum id, maxime soluta ut assumenda dolorem!</p>
    <p>Modi, laborum officiis eaque maiores animi quasi vero, necessitatibus itaque deleniti quas iusto neque tempora dolorum, saepe corporis optio exercitationem voluptatum impedit aliquam praesentium est. Provident excepturi delectus porro dignissimos?</p>
    <p>Facilis deserunt libero, dolor et! Itaque dignissimos, aut eveniet maxime, architecto laboriosam omnis ducimus magnam corporis laudantium! Asperiores ratione, fugit explicabo dolorem maxime enim nemo? Maiores, inventore sint deleniti amet.</p>
  </article>
</div>
