<div class="frame">
  <article class="frameContent">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis nisi fugiat, possimus architecto animi fuga voluptates non dolorem, atque optio autem temporibus commodi at sapiente provident, consequuntur rem rerum nulla.</p>
    <p>Architecto nihil et aspernatur, illum, debitis quod doloremque nesciunt repellat voluptate eligendi neque animi ratione qui itaque, iusto omnis earum consequatur quo voluptas asperiores ipsam. Omnis dolores, fugiat non delectus.</p>
  </article>
</div>
