<div class="frame">
  <article class="frameContent">
    <ul>
      <li>Юго-Восточная Азия сейчас самый быстрорастущий интернет-рынок.</li>
      <li>В Индии количество интернет позьзователей удвоится к 2018 году (с 190 млн. до 400 млн.).</li>
      <li>В Китае из 690 млн. интернет-пользователей 620 млн. использует для доступа мобильный телефон. Многие из них используют только телефон.</li>
    </ul>
    <ul>
      <li>В 2016 году Черная Пятница и Кибер-Понедельник в сумме принесли 2.9 млрд. долларов.</li>
      <li>Китайский аналог (11 ноября) – 9.2 млрд.</li>
      <li>К 2019 году рынок электронных продаж вырастет до 1 трлн. долларов.</li>
    </ul>
  </article>
</div>
