<div class="frame">
  <article class="frameContent">
    <p>GQ уменьшил время загрузки страниц своего сайта с 7 до 2-х сек. и количество запросов к серверу на 400%:</p>
    <ul>
      <li>Среднее время проведенное пользователем на сайте выросло с 5.9 мин. до 7.8 мин.</li>
      <li>Конверсия рекламы выросла на 108%.</li>
    </ul>
    <p>Walmart обнаружили что на каждую секунду на которую уменьшается время загрузки сайта конверсия растет на 2%</p>
    <p>При (искуственной) задержке в 1 секунду на сайте Amazon:</p>
    <ul>
      <li>Количество просмотров страниц упало на 11%</li>
      <li>Конверсия упала на 7%</li>
      <li>На 16% упал коэффициент удовлетворенности клиентов.</li>
    </ul>
    <p>Реальная задержка в 1 сек. стоила бы им 1.6 млрд. долларов в год.</p>
  </article>
</div>
