<div class="frame frame-is-dark">
  <article class="frameGallery">
    <img src="images/prologue/dribbble/pass01.png" class="galleryImage" alt="">
    <img src="images/prologue/dribbble/pass02.png" class="galleryImage" alt="">
    <img src="images/prologue/dribbble/pass03.jpg" class="galleryImage" alt="">
    <img src="images/prologue/dribbble/pass04.png" class="galleryImage" alt="">
    <img src="images/prologue/dribbble/pass05.png" class="galleryImage" alt="">
    <img src="images/prologue/dribbble/pass06.png" class="galleryImage" alt="">
    <img src="images/prologue/dribbble/pass07.png" class="galleryImage" alt="">
    <img src="images/prologue/dribbble/pass08.png" class="galleryImage" alt="">
  </article>
</div>
