<div class="frame frame-is-dark">
  <article class="frameGallery">
    <img src="images/prologue/dribbble/pass09.png" class="galleryImage" alt="">
    <img src="images/prologue/dribbble/pass10.png" class="galleryImage" alt="">
    <img src="images/prologue/dribbble/pass11.png" class="galleryImage" alt="">
    <img src="images/prologue/dribbble/pass12.png" class="galleryImage" alt="">
    <img src="images/prologue/dribbble/pass13.png" class="galleryImage" alt="">
    <img src="images/prologue/dribbble/pass14.png" class="galleryImage" alt="">
    <img src="images/prologue/dribbble/pass15.png" class="galleryImage" alt="">
    <img src="images/prologue/dribbble/pass16.jpg" class="galleryImage" alt="">
  </article>
</div>
