/* Inline-block */
kbd {
  display: inline-block;
}

/* Inline-block IE */
/* Pseudo Element */
/* Verticla Alignment */
/* Baseline, Typography & Vertical Rhythm */
article, aside, canvas, figure, figcaption, footer, header, hgroup, nav, main, progress, section, summary, fieldset, textarea {
  display: block;
}

html {
  font-size: 32px;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
  line-height: 1.5;
}

body {
  -epub-hyphens: manual;
  -webkit-hyphens: manual;
      -ms-hyphens: manual;
          hyphens: manual;
  color: #111;
  font-family: "Helvetica Neue", Helvetica, Calibri, Arial, sans-serif;
  -webkit-font-feature-settings: 'liga' 1, 'clig' 1, 'kern' 1;
          font-feature-settings: 'liga' 1, 'clig' 1, 'kern' 1;
  font-display: swap;
}

h1, h2, h3, h4, h5, h6 {
  margin: 96px 0 36px;
  margin: 3rem 0 1.125rem;
  font-weight: bold;
  text-rendering: auto;
  -webkit-column-break-after: avoid;
          break-after: avoid;
  orphans: 3;
  widows: 3;
}

h1 {
  font-size: 79.62624px;
  font-size: 2.48832rem;
  line-height: 1.20563;
}

h2 {
  margin: 36px 0;
  margin: 1.125rem 0;
  font-size: 66.3552px;
  font-size: 2.0736rem;
  line-height: 1.44676;
}

h3 {
  font-size: 55.296px;
  font-size: 1.728rem;
  line-height: 1.73611;
}

h4 {
  font-size: 46.08px;
  font-size: 1.44rem;
  line-height: 1.04167;
}

h5 {
  font-size: 38.4px;
  font-size: 1.2rem;
  line-height: 1.25;
}

h6 {
  font-size: 32px;
  font-size: 1rem;
  line-height: 1.5;
}

p, dl, ul, ol, pre, address, audio, video {
  margin: 36px 0;
  margin: 1.125rem 0;
}

dd, ul, ol {
  padding: 0 0 0 1em;
}

li > ul, li > ol {
  margin: 48px 0;
  margin: 1.5rem 0;
}

pre, code, samp, var, tt {
  font-family: Consolas, Monaco, "Andale Mono", "Courier New", Courier, Freemono, "Nimbus Mono L", monospace;
}

dt {
  margin: 48px 0 24px;
  margin: 1.5rem 0 0.75rem;
  font-weight: bold;
}

dd {
  margin: 24px 0;
  margin: 0.75rem 0;
  font-style: italic;
}

ul {
  list-style: disc;
}

ol {
  list-style: decimal;
}

li {
  margin: 24px 0;
  margin: 0.75rem 0;
}

var, strong, b, dfn, acronym, abbr, kbd, th {
  font-weight: bold;
}

code, samp, var {
  color: #ff3f2e;
}

pre {
  overflow-x: auto;
  padding: 0 1.5em;
  white-space: pre-wrap;
  word-wrap: break-word;
  -moz-tab-size: 2;
    -o-tab-size: 2;
       tab-size: 2;
}

var {
  font-style: normal;
}

blockquote, em, cite, q, i {
  font-style: italic;
}

blockquote, q {
  quotes: none;
}

blockquote:before, q:before, blockquote:after, q:after {
  content: none;
}

blockquote {
  margin: 48px 3em;
  margin: 1.5rem 3em;
}

acronym, abbr, ins {
  text-decoration: none;
  cursor: help;
}

acronym, abbr, ins, mark {
  border-bottom: 1px dotted #176191;
  color: #176191;
}

del, strike, s {
  text-decoration: line-through;
}

acronym, abbr {
  margin: 0 -.075em 0 0;
  letter-spacing: .075em;
}

sup, sub, small {
  font-size: 24px;
  font-size: 0.75rem;
  line-height: 0;
}

sup, sub {
  position: relative;
}

address {
  font-style: normal;
}

del {
  border-bottom: 1px dotted #666;
  color: #666;
}

kbd {
  height: 46px;
  height: 1.4375rem;
  line-height: 46px;
  line-height: 1.4375rem;
  padding: 0 .25em;
  border-radius: 3px;
  background: #666;
  background-clip: padding-box;
  font-weight: bold;
  font-family: Consolas, Monaco, "Andale Mono", "Courier New", Courier, Freemono, "Nimbus Mono L", monospace;
  vertical-align: top;
}

sup {
  top: -.65em;
}

sub {
  bottom: -.25em;
}

big {
  font-size: 66.3552px;
  font-size: 2.0736rem;
  line-height: 0;
}

u {
  text-decoration: underline;
}

img {
  height: auto;
  max-width: 100%;
  border: 0;
  vertical-align: top;
  -ms-interpolation-mode: bicubic;
}

td, th {
  padding: 47px 15px 48px;
  padding: 1.46875rem 15px 1.5rem;
  border: 1px solid #666;
}

caption {
  padding: 0 0 24px;
  padding: 0 0 0.75rem;
  font-weight: bold;
  text-align: left;
}

table {
  margin: 48px 0;
  margin: 1.5rem 0;
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
}

th {
  text-align: left;
}

hr {
  margin: 48px 0;
  margin: 1.5rem 0;
  display: block;
  height: 0;
  padding: 0;
  border-top: 1px solid #000;
}

/* Selection */
::-moz-selection {
  color: #fff;
  background: #176191;
}
::selection {
  color: #fff;
  background: #176191;
}

/* Focus */
a:focus, input:focus, select:focus, button:focus, textarea:focus {
  outline: 1px dotted #ccc;
}

/* Links */
a {
  color: #176191;
  -webkit-tap-highlight-color: rgba(15, 66, 99, 0.25);
  text-decoration: underline;
  transition: 0.2s;
}

a:visited {
  color: #6f5499;
}

a:hover {
  color: #ff3f2e;
}

a:active {
  color: #0f4263;
}

/* Forms */
fieldset {
  padding: 0;
  border: 0;
  margin: 0;
}

legend {
  position: relative;
  left: -1.5em;
  padding: 0 1.5em;
  font-weight: bold;
}

label {
  cursor: pointer;
}

input, select, button, textarea {
  margin: 0;
  font-family: inherit;
}

input, select, button {
  font-size: inherit;
}

input, button, textarea {
  box-sizing: content-box;
}

input, button {
  border: 0;
}

input::-moz-focus-inner, button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

select, button {
  text-transform: none;
}

input, select {
  vertical-align: top;
}

select, textarea {
  border: 1px solid #ccc;
}

input[type='radio'], input[type='checkbox'] {
  box-sizing: border-box;
  vertical-align: middle;
}

input[type='submit'], input[type='search'], input[type='number'], button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

input[disabled], input[readonly], button[disabled], textarea[disabled], textarea[readonly] {
  opacity: .5;
  cursor: default;
  cursor: not-allowed;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #666;
  opacity: 1;
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  color: #666;
  opacity: 1;
}

input::placeholder, textarea::placeholder {
  color: #666;
  opacity: 1;
}

input[type='file'] {
  height: auto;
  border: 0;
}

input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
          appearance: none;
}

select {
  height: 72px;
  height: 2.25rem;
  vertical-align: top;
}

select[multiple] {
  height: 240px;
  height: 7.5rem;
}

button {
  height: 72px;
  height: 2.25rem;
  padding: 0 15px;
  cursor: pointer;
}

textarea {
  height: 430px;
  height: 13.4375rem;
  padding: 12px 15px;
  padding: 0.375rem 15px;
  overflow: auto;
  font-size: inherit;
}

/* TemplateX Baseline */
/* Fast Touch */
a, label, select, button {
  -ms-touch-action: manipulation;
      touch-action: manipulation;
}

/* Link Touch State */
.mdz-touchevents a:hover, .mdz-touchevents a:active {
  color: #176191;
}

/* Print Baseline, Typography & Vertical Rhythm */
@media print {
  /* csslint ignore:start */
  /* Typography & Vertical Rhythm */
  pre, code, var, acronym, abbr, ins, del {
    border: 0;
    color: #111;
    text-decoration: none;
  }
  html, body {
    background: #fff;
  }
  blockquote, img, table, tr {
    -webkit-column-break-inside: avoid;
            break-inside: avoid;
  }
  acronym[title]:after, abbr[title]:after, ins[title]:after, del[title]:after {
    content: " (" attr(title) ")";
  }
  @page {
    size: A4;
    margin: .5cm;
  }
  body {
    color: #111;
    font-size: 12pt;
    line-height: 1.5;
  }
  p {
    orphans: 3;
    widows: 3;
  }
  thead {
    display: table-header-group;
  }
  /* Links */
  a[href^='javascript:']:after, a[href^='#']:after, a[href^='mailto:']:after, a[href^='tel:']:after {
    content: '';
  }
  a {
    color: #111;
    text-decoration: none;
  }
  a:visited, a:hover, a:active {
    color: #111;
  }
  a:after {
    content: " (" attr(href) ")";
    font-size: 90%;
  }
  /* Forms */
  form, input, select, button, textarea {
    display: none;
  }
  /* csslint ignore:end */
}

/* Layout */
html {
  -webkit-overflow-scrolling: touch;
  height: 100%;
}

body {
  position: relative;
  overflow: hidden;
  height: 100%;
  padding: 0;
  margin: 0;
  background: #fff;
}

/* Phone Layout */
@media only screen and (max-width: 45em) {
  /* Layout */
  body {
    min-width: 0;
  }
}

/* Print Layout */
@media print {
  /* Layout */
  body {
    width: auto;
    min-width: 0;
    max-width: none;
    padding: 2.54cm;
  }
}

/* HDPI */
/* Reset */
/* Lists Reset */
/* Image Blocker */
/* Visually Hidden */
/* Frames */
.frames {
  width: 100%;
  height: 100%;
  font-size: 0;
  white-space: nowrap;
}

.frames-is-sliding {
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

/* Frame */
.frame {
  font-size: 32px;
  font-size: 1rem;
  line-height: 1.5;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  width: 100%;
  height: 100%;
  vertical-align: top;
  white-space: normal;
}

.frame-is-dark {
  color: #fff;
  background: #111;
}

.frameContent {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 40em;
  height: 100%;
  padding: 0 5em;
}

.frameContent-is-columns {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.frameContent-is-screenshots {
  text-align: center;
}

.frameImage {
  display: block;
  width: 100%;
  max-height: 95%;
  -o-object-fit: contain;
     object-fit: contain;
}

.frameVideo {
  display: block;
  width: 100%;
  max-height: 95%;
  -o-object-fit: contain;
     object-fit: contain;
}

.frameGallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 10%;
}

.frameChain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.frameChain-is-vertical {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.chainImage {
  margin: 0 5px;
}

.chainVerticalImage {
  display: block;
  margin: 5px auto;
}

.chainSmallerVerticalImage {
  max-width: 80%;
  margin: 5px auto;
}

.chainSmallerImage {
  margin: 0 5px;
  max-width: 42%;
}

/* Columns */
.column {
  box-sizing: border-box;
  max-width: 50%;
  padding: 0 2em;
  text-align: center;
}

.columnImage {
  display: block;
  margin: 0 auto 1.5em;
}

.columnNote {
  font-size: 24px;
  font-size: 0.75rem;
  line-height: 2;
  display: block;
  line-height: 1.5;
}

.columnHeader {
  width: 100%;
  text-align: center;
}

.columnText {
  padding: 0;
  -webkit-columns: 2;
          columns: 2;
  -webkit-column-gap: 100px;
          column-gap: 100px;
  list-style: none;
}

.columnText li {
  padding: 12px 0;
  padding: 0.375rem 0;
  margin: 0;
}

.emoji {
  font-size: 220px;
  font-size: 6.875rem;
  line-height: 1.09091;
  line-height: 1;
}

.galleryImage {
  width: 15%;
  max-width: 400px;
  margin: 3.5% 5%;
}

.screenShotNote {
  margin: 1em 0 0;
  text-align: center;
}

.screenshotPhone {
  display: inline-block;
  max-width: 350px;
  vertical-align: top;
}

.screenshotSmallerPhone {
  display: inline-block;
  max-width: 270px;
  vertical-align: top;
}

.screenshotSmallestPhone {
  display: inline-block;
  max-width: 200px;
  vertical-align: top;
}

.select1 {
  color: #B34251;
}

.select2 {
  color: #3AC957;
}

.select3 {
  color: #E0B661;
}

.select4 {
  color: #5C334F;
}

.select5 {
  color: #DB6C56;
}

.select6 {
  color: #00A2E8;
}

.selectL {
  color: #FFFA5E;
}

.selectR {
  color: #D17F0D;
}

/* Client UI */
.ui {
  position: relative;
  width: 100%;
  height: 100%;
}

.next, .prev {
  color: #fff;
  position: absolute;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 50%;
  text-align: center;
  text-decoration: none;
}

.next:visited, .prev:visited, .next:hover, .prev:hover, .next:active, .prev:active {
  color: #fff;
}

.next:focus, .prev:focus {
  color: #fff;
}

.next {
  top: 0;
  background: #ff3f2e;
}

.prev {
  bottom: 0;
  background: #009448;
}
/*# sourceMappingURL=styles.css.map */