/* Open Sans */

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans/regular-webfont.eot');
  src: url('../fonts/OpenSans/regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/OpenSans/regular-webfont.woff2') format('woff2'), url('../fonts/OpenSans/regular-webfont.woff') format('woff'), url('../fonts/OpenSans/regular-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans/bold-webfont.eot');
  src: url('../fonts/OpenSans/bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/OpenSans/bold-webfont.woff2') format('woff2'), url('../fonts/OpenSans/bold-webfont.woff') format('woff'), url('../fonts/OpenSans/bold-webfont.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans/italic-webfont.eot');
  src: url('../fonts/OpenSans/italic-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/OpenSans/italic-webfont.woff2') format('woff2'), url('../fonts/OpenSans/italic-webfont.woff') format('woff'), url('../fonts/OpenSans/italic-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans/bolditalic-webfont.eot');
  src: url('../fonts/OpenSans/bolditalic-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/OpenSans/bolditalic-webfont.woff2') format('woff2'), url('../fonts/OpenSans/bolditalic-webfont.woff') format('woff'), url('../fonts/OpenSans/bolditalic-webfont.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans/light-webfont.eot');
  src: url('../fonts/OpenSans/light-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/OpenSans/light-webfont.woff2') format('woff2'), url('../fonts/OpenSans/light-webfont.woff') format('woff'), url('../fonts/OpenSans/light-webfont.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans/lightitalic-webfont.eot');
  src: url('../fonts/OpenSans/lightitalic-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/OpenSans/lightitalic-webfont.woff2') format('woff2'), url('../fonts/OpenSans/lightitalic-webfont.woff') format('woff'), url('../fonts/OpenSans/lightitalic-webfont.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans/semibold-webfont.eot');
  src: url('../fonts/OpenSans/semibold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/OpenSans/semibold-webfont.woff2') format('woff2'), url('../fonts/OpenSans/semibold-webfont.woff') format('woff'), url('../fonts/OpenSans/semibold-webfont.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans/semibolditalic-webfont.eot');
  src: url('../fonts/OpenSans/semibolditalic-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/OpenSans/semibolditalic-webfont.woff2') format('woff2'), url('../fonts/OpenSans/semibolditalic-webfont.woff') format('woff'), url('../fonts/OpenSans/semibolditalic-webfont.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans/extrabold-webfont.eot');
  src: url('../fonts/OpenSans/extrabold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/OpenSans/extrabold-webfont.woff2') format('woff2'), url('../fonts/OpenSans/extrabold-webfont.woff') format('woff'), url('../fonts/OpenSans/extrabold-webfont.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans/extrabolditalic-webfont.eot');
  src: url('../fonts/OpenSans/extrabolditalic-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/OpenSans/extrabolditalic-webfont.woff2') format('woff2'), url('../fonts/OpenSans/extrabolditalic-webfont.woff') format('woff'), url('../fonts/OpenSans/extrabolditalic-webfont.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
}



/* Open Sans Condensed */

@font-face {
  font-family: 'Open Sans Condensed';
  src: url('../fonts/OpenSansCondensed/condlight-webfont.eot');
  src: url('../fonts/OpenSansCondensed/condlight-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/OpenSansCondensed/condlight-webfont.woff2') format('woff2'), url('../fonts/OpenSansCondensed/condlight-webfont.woff') format('woff'), url('../fonts/OpenSansCondensed/condlight-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans Condensed';
  src: url('../fonts/OpenSansCondensed/condbold-webfont.eot');
  src: url('../fonts/OpenSansCondensed/condbold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/OpenSansCondensed/condbold-webfont.woff2') format('woff2'), url('../fonts/OpenSansCondensed/condbold-webfont.woff') format('woff'), url('../fonts/OpenSansCondensed/condbold-webfont.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans Condensed';
  src: url('../fonts/OpenSansCondensed/condlightitalic-webfont.eot');
  src: url('../fonts/OpenSansCondensed/condlightitalic-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/OpenSansCondensed/condlightitalic-webfont.woff2') format('woff2'), url('../fonts/OpenSansCondensed/condlightitalic-webfont.woff') format('woff'), url('../fonts/OpenSansCondensed/condlightitalic-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}
