/* Baseline, Typography & Vertical Rhythm */

article {
  display: block;
}

html {
  font-size: 32px;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  line-height: 1.5;
}

body {
  color: #fff;
  font-family: 'Helvetica Neue', Helvetica, Calibri, Arial, sans-serif;
  -webkit-font-feature-settings: 'liga' 1, 'clig' 1, 'kern' 1;
  font-feature-settings: 'liga' 1, 'clig' 1, 'kern' 1;
  font-display: swap;
  -epub-hyphens: manual;
  -webkit-hyphens: manual;
  -ms-hyphens: manual;
  hyphens: manual;
}

p {
  margin: 36px 0;
  margin: 1.125rem 0;
}

/* Selection */

::-moz-selection {
  color: #fff;
  background: #176191;
}
::selection {
  color: #fff;
  background: #176191;
}

/* Focus */

a:focus {
  outline: 1px dotted #ccc;
}

/* Links */

a {
  color: #176191;
  -webkit-tap-highlight-color: rgba(15, 66, 99, .25);
  text-decoration: underline;
  -webkit-transition: .2s;
  transition: .2s;
}

a:visited {
  color: #6f5499;
}

a:hover {
  color: #ff3f2e;
}

a:active {
  color: #0f4263;
}

/* Forms */


input::placeholder,
textarea::placeholder {
  color: #666;
  opacity: 1;
}

/* Fast Touch */

a {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

/* Link Touch State */

.mdz-touchevents a:hover,
.mdz-touchevents a:active {
  color: #176191;
}

/* Print Baseline, Typography & Vertical Rhythm */

@media print {

  /* csslint ignore:start */

  /* Typography & Vertical Rhythm */

  html,
  body {
    background: #111;
  }

  @page {
    size: A4;
    margin: .5cm;
  }

  body {
    color: #fff;
    font-size: 12pt;
    line-height: 1.5;
  }

  p {
    orphans: 3;
    widows: 3;
  }

  /* Links */

  a[href^='#']:after {
    content: '';
  }

  a {
    color: #fff;
    text-decoration: none;
  }

  a:visited,
  a:hover,
  a:active {
    color: #fff;
  }

  a:after {
    content: ' (' attr(href) ')';
    font-size: 90%;
  }

  /* csslint ignore:end */


}

/* Layout */

html {
  -webkit-overflow-scrolling: touch;
  height: 100%;
}

body {
  position: relative;
  overflow: hidden;
  height: 100%;
  padding: 0;
  margin: 0;
  background: #111;
  background: -webkit-radial-gradient(circle, #5698c4, #0f4263);
  background: radial-gradient(circle, #5698c4, #0f4263);
}

/* Phone Layout */

@media only screen and (max-width: 45em) {

  /* Layout */

  body {
    min-width: 0;
  }

}

/* Print Layout */

@media print {

  /* Layout */

  body {
    width: auto;
    min-width: 0;
    max-width: none;
    padding: 2.54cm;
  }

}

/* Frames */

.frames {
  width: 100%;
  height: 100%;
  white-space: nowrap;
}

.frames-is-sliding {
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}

/* Frame */

.frame {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  overflow: hidden;
  width: 100%;
  height: 100%;
  vertical-align: top;
  white-space: normal;
}

.frameContent {
  max-width: 40em;
  padding: 0 5em;
}

/* Client UI */

.ui {
  position: relative;
  width: 100%;
  height: 100%;
}

.next,
.prev {
  position: absolute;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 50%;
  color: #fff;
  text-align: center;
  text-decoration: none;
}

.next:visited,
.prev:visited,
.next:hover,
.prev:hover,
.next:active,
.prev:active {
  color: #fff;
}

.next:focus,
.prev:focus {
  color: #fff;
}

.next {
  top: 0;
  background: #ff3f2e;
}

.prev {
  bottom: 0;
  background: #009448;
}
