/* Inline-block */

kbd {
  display: inline-block;
}

/* Pseudo Element */

.browserImage-is-notSupported:before,
.browserImage-is-behindFlag:after {
  position: absolute;
  content: '';
  display: block;
}

/* Baseline, Typography & Vertical Rhythm */

article,
aside,
canvas,
figure,
figcaption,
footer,
header,
hgroup,
nav,
main,
progress,
section,
summary,
fieldset,
textarea {
  display: block;
}

html {
  font-size: 32px;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  line-height: 1.5;
}

body {
  color: #111;
  font-family: 'Helvetica Neue', Helvetica, Calibri, Arial, sans-serif;
  -webkit-font-feature-settings: 'liga' 1, 'clig' 1, 'kern' 1;
  font-feature-settings: 'liga' 1, 'clig' 1, 'kern' 1;
  font-display: swap;
  -epub-hyphens: manual;
  -webkit-hyphens: manual;
  -ms-hyphens: manual;
  hyphens: manual;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 36px 0;
  margin: 1.125rem 0;
  font-weight: bold;
  text-rendering: auto;
  break-after: avoid;
  orphans: 3;
  widows: 3;
}

h1 {
  font-size: 79.62624px;
  font-size: 2.48832rem;
  line-height: 1.20563;
}

h2 {
  font-size: 66.3552px;
  font-size: 2.0736rem;
  line-height: 1.44676;
}

h3 {
  font-size: 55.296px;
  font-size: 1.728rem;
  line-height: 1.73611;
}

h4 {
  font-size: 46.08px;
  font-size: 1.44rem;
  line-height: 1.04167;
}

h5 {
  font-size: 38.4px;
  font-size: 1.2rem;
  line-height: 1.25;
}

h6 {
  font-size: 32px;
  font-size: 1rem;
  line-height: 1.5;
}

p,
dl,
ul,
ol,
pre,
address,
audio,
video {
  margin: 18px 0;
  margin: .5625rem 0;
}

dd,
ul,
ol {
  padding: 0 0 0 1em;
}

li > ul,
li > ol {
  margin: 48px 0;
  margin: 1.5rem 0;
}

pre,
code,
samp,
var,
tt {
  font-family: Consolas, Monaco, 'Andale Mono', 'Courier New', Courier, Freemono, 'Nimbus Mono L', monospace;
}

dt {
  margin: 48px 0 24px;
  margin: 1.5rem 0 .75rem;
  font-weight: bold;
}

dd {
  margin: 24px 0;
  margin: .75rem 0;
  font-style: italic;
}

ul {
  list-style: disc;
}

ol {
  list-style: decimal;
}

li {
  margin: 24px 0;
  margin: .75rem 0;
}

var,
strong,
b,
dfn,
acronym,
abbr,
kbd,
th {
  font-weight: bold;
}

samp,
var {
  color: #ff3f2e;
}

pre {
  overflow-x: auto;
  padding: 0;
  white-space: pre-wrap;
  word-wrap: break-word;
  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2;
}

var {
  font-style: normal;
}

blockquote,
em,
cite,
q,
i {
  font-style: italic;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
q:before,
blockquote:after,
q:after {
  content: none;
}

blockquote {
  margin: 48px 3em;
  margin: 1.5rem 3em;
}

acronym,
abbr,
ins {
  text-decoration: none;
  cursor: help;
}

acronym,
abbr,
ins,
mark {
  border-bottom: 1px dotted #176191;
  color: #176191;
}

del,
strike,
s {
  text-decoration: line-through;
}

acronym,
abbr {
  margin: 0 -.075em 0 0;
  letter-spacing: .075em;
}

sup,
sub,
small {
  font-size: 24px;
  font-size: .75rem;
  line-height: 0;
}

sup,
sub {
  position: relative;
}

address {
  font-style: normal;
}

del {
  border-bottom: 1px dotted #666;
  color: #666;
}

kbd {
  height: 46px;
  height: 1.4375rem;
  padding: 0 .25em;
  border-radius: 3px;
  background: #666;
  background-clip: padding-box;
  font-weight: bold;
  font-family: Consolas, Monaco, 'Andale Mono', 'Courier New', Courier, Freemono, 'Nimbus Mono L', monospace;
  line-height: 46px;
  line-height: 1.4375rem;
  vertical-align: top;
}

sup {
  top: -.65em;
}

sub {
  bottom: -.25em;
}

big {
  font-size: 66.3552px;
  font-size: 2.0736rem;
  line-height: 0;
}

u {
  text-decoration: underline;
}

img {
  height: auto;
  max-width: 100%;
  border: 0;
  vertical-align: top;
  -ms-interpolation-mode: bicubic;
}

td,
th {
  padding: 47px 15px 48px;
  padding: 1.46875rem 15px 1.5rem;
  border: 1px solid #666;
}

caption {
  padding: 0 0 24px;
  padding: 0 0 .75rem;
  font-weight: bold;
  text-align: left;
}

table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
  margin: 48px 0;
  margin: 1.5rem 0;
}

th {
  text-align: left;
}

hr {
  display: block;
  height: 0;
  padding: 0;
  border-top: 1px solid #000;
  margin: 48px 0;
  margin: 1.5rem 0;
}

/* Selection */

::-moz-selection {
  color: #fff;
  background: #176191;
}
::selection {
  color: #fff;
  background: #176191;
}

/* Focus */

a:focus,
input:focus,
select:focus,
button:focus,
textarea:focus {
  outline: 1px dotted #ccc;
}

/* Links */

a {
  color: #176191;
  -webkit-tap-highlight-color: rgba(15, 66, 99, .25);
  text-decoration: underline;
  transition: .2s;
}

a:visited {
  color: #6f5499;
}

a:hover {
  color: #ff3f2e;
}

a:active {
  color: #0f4263;
}

/* Forms */

fieldset {
  padding: 0;
  border: 0;
  margin: 0;
}

legend {
  position: relative;
  left: -1.5em;
  padding: 0 1.5em;
  font-weight: bold;
}

label {
  cursor: pointer;
}

input,
select,
button,
textarea {
  margin: 0;
  font-family: inherit;
}

input,
select,
button {
  font-size: inherit;
}

input,
button,
textarea {
  box-sizing: content-box;
}

input,
button {
  border: 0;
}

input::-moz-focus-inner,
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

select,
button {
  text-transform: none;
}

input,
select {
  vertical-align: top;
}

select,
textarea {
  border: 1px solid #ccc;
}

input[type='radio'],
input[type='checkbox'] {
  box-sizing: border-box;
  vertical-align: middle;
}

input[type='submit'],
input[type='search'],
input[type='number'],
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[disabled],
input[readonly],
button[disabled],
textarea[disabled],
textarea[readonly] {
  opacity: .5;
  cursor: default;
  cursor: not-allowed;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #666;
  opacity: 1;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #666;
  opacity: 1;
}

input::placeholder,
textarea::placeholder {
  color: #666;
  opacity: 1;
}

input[type='file'] {
  height: auto;
  border: 0;
}

input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
}

select {
  height: 72px;
  height: 2.25rem;
  vertical-align: top;
}

select[multiple] {
  height: 240px;
  height: 7.5rem;
}

button {
  height: 72px;
  height: 2.25rem;
  padding: 0 15px;
  cursor: pointer;
}

textarea {
  overflow: auto;
  height: 430px;
  height: 13.4375rem;
  padding: 12px 15px;
  padding: .375rem 15px;
  font-size: inherit;
}

/* Fast Touch */

a,
label,
select,
button {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

/* Link Touch State */

.mdz-touchevents a:hover,
.mdz-touchevents a:active {
  color: #176191;
}

/* Print Baseline, Typography & Vertical Rhythm */

@media print {

  /* csslint ignore:start */

  /* Typography & Vertical Rhythm */

  pre,
  code,
  var,
  acronym,
  abbr,
  ins,
  del {
    border: 0;
    color: #111;
    text-decoration: none;
  }

  html,
  body {
    background: #fff;
  }

  blockquote,
  img,
  table,
  tr {
    break-inside: avoid;
  }

  acronym[title]:after,
  abbr[title]:after,
  ins[title]:after,
  del[title]:after {
    content: ' (' attr(title) ')';
  }

  @page {
    size: A4;
    margin: .5cm;
  }

  body {
    color: #111;
    font-size: 12pt;
    line-height: 1.5;
  }

  p {
    orphans: 3;
    widows: 3;
  }

  thead {
    display: table-header-group;
  }

  /* Links */

  a[href^='javascript:']:after,
  a[href^='#']:after,
  a[href^='mailto:']:after,
  a[href^='tel:']:after {
    content: '';
  }

  a {
    color: #111;
    text-decoration: none;
  }

  a:visited,
  a:hover,
  a:active {
    color: #111;
  }

  a:after {
    content: ' (' attr(href) ')';
    font-size: 90%;
  }

  /* Forms */

  form,
  input,
  select,
  button,
  textarea {
    display: none;
  }

  /* csslint ignore:end */


}

/* Layout */

html {
  -webkit-overflow-scrolling: touch;
  height: 100%;
}

body {
  position: relative;
  overflow: hidden;
  height: 100%;
  padding: 0;
  margin: 0;
  background: #fff;
}

/* Phone Layout */

@media only screen and (max-width: 45em) {

  /* Layout */

  body {
    min-width: 0;
  }

}

/* Print Layout */

@media print {

  /* Layout */

  body {
    width: auto;
    min-width: 0;
    max-width: none;
    padding: 2.54cm;
  }

}

/* Frames */

.frames {
  width: 100%;
  height: 100%;
  font-size: 0;
  white-space: nowrap;
}

.frames-is-sliding {
  transition: transform 1s;
}

/* Frame */

.frame {
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  overflow: hidden;
  width: 100%;
  height: 100%;
  font-size: 32px;
  font-size: 1rem;
  line-height: 1.5;
  vertical-align: top;
  white-space: normal;
}

.frame-is-dark {
  color: #fff;
  background: #111;
}

.frameContent {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100%;
  max-width: 40em;
  padding: 0 5em;
}

.frameContent-is-columns {
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
}

.frameContent-is-screenshots {
  text-align: center;
}

.frameImage {
  display: block;
  width: 100%;
  max-height: 95%;

  -o-object-fit: contain;
  object-fit: contain;
}

.frameVideo {
  display: block;
  width: 100%;
  max-height: 95%;

  -o-object-fit: contain;
  object-fit: contain;
}

.frameGallery {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 10%;
}

.frameChain {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
}

.frameChain-is-vertical {
  -ms-flex-direction: column;
  flex-direction: column;
}

.browserImage {
  position: relative;
  max-width: 15%;
  margin: 0 .75em;
}

.browserImage-is-notSupported:before {
  z-index: 1;
  top: 50%;
  left: 50%;
  width: 150%;
  height: 15%;
  background: #ff3f2e;
  -ms-transform: translate(-50%, -50%) rotate(45deg);
  transform: translate(-50%, -50%) rotate(45deg);
}

.browserImage-is-notSupported img {
  opacity: .35;
}

.browserImage-is-behindFlag:after {
  z-index: 1;
  top: 100%;
  left: 100%;
  width: 65%;
  height: 40%;
  background: linear-gradient(-45deg, transparent, transparent 37.5%, #009448 37.5%, #009448), linear-gradient(-135deg, transparent, transparent 37.5%, #009448 37.5%, #009448);
  -ms-transform: translate(-75%, -75%);
  transform: translate(-75%, -75%);
}

.browserImage-is-behindFlag img {
  opacity: .5;
}

.chainImage {
  max-width: 15%;
  margin: 0 5%;
}

.chainVerticalImage {
  display: block;
  margin: 5px auto;
}

.chainSmallerVerticalImage {
  max-width: 80%;
  margin: 5px auto;
}

.chainSmallerImage {
  max-width: 42%;
  margin: 0 5px;
}

/* Columns */

.column {
  box-sizing: border-box;
  max-width: 50%;
  padding: 0 1em;
  text-align: center;
}

.columnImage {
  display: block;
  margin: 0 auto 1.5em;
}

.columnNote {
  display: block;
  font-size: 24px;
  font-size: .75rem;
  line-height: 2;
  line-height: 1.5;
}

.columnHeader {
  width: 100%;
  text-align: center;
}

.columnText {
  padding: 0;
  columns: 2;
  column-gap: 100px;
  list-style: none;
}

.columnText li {
  padding: 12px 0;
  padding: .375rem 0;
  margin: 0;
}

.coverImage {
  width: 100%;
}

.highlightGreen {
  color: #009448;
  font-weight: bold;
}

.highlightRed {
  color: #ff3f2e;
  font-weight: bold;
}

/**
 * prism.js tomorrow night eighties for JavaScript, CoffeeScript, CSS and HTML
 * Based on https://github.com/chriskempson/tomorrow-theme
 * @author Rose Pritchard
 */

code[class*='language-'],
pre[class*='language-'] {
  color: #ccc;
  background: none;
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  text-align: left;
  line-height: 1.5;
  white-space: pre;
  word-spacing: normal;
  word-wrap: normal;
  word-break: normal;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

/* Code blocks */

pre[class*='language-'] {
  overflow: auto;
  padding: 1em;
  margin: .5em 0;
}

:not(pre) > code[class*='language-'],
pre[class*='language-'] {
  background: #2d2d2d;
}

/* Inline code */

:not(pre) > code[class*='language-'] {
  padding: .1em;
  border-radius: .3em;
  white-space: normal;
}

.token.comment,
.token.block-comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #999;
}

.token.punctuation {
  color: #ccc;
}

.token.tag,
.token.attr-name,
.token.namespace,
.token.deleted {
  color: #e2777a;
}

.token.function-name {
  color: #6196cc;
}

.token.boolean,
.token.number,
.token.function {
  color: #f08d49;
}

.token.property,
.token.class-name,
.token.constant,
.token.symbol {
  color: #f8c555;
}

.token.selector,
.token.important,
.token.atrule,
.token.keyword,
.token.builtin {
  color: #cc99cd;
}

.token.string,
.token.char,
.token.attr-value,
.token.regex,
.token.variable {
  color: #7ec699;
}

.token.operator,
.token.entity,
.token.url {
  color: #67cdcc;
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

.token.inserted {
  color: green;
}

/* Client UI */

.ui {
  position: relative;
  width: 100%;
  height: 100%;
}

.next,
.prev {
  position: absolute;
  left: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 50%;
  color: #fff;
  text-align: center;
  text-decoration: none;
}

.next:visited,
.prev:visited,
.next:hover,
.prev:hover,
.next:active,
.prev:active {
  color: #fff;
}

.next:focus,
.prev:focus {
  color: #fff;
}

.next {
  top: 0;
  background: #ff3f2e;
}

.prev {
  bottom: 0;
  background: #009448;
}
