/* Chapters */

.chapter {

  &0 {
    background: $pr-purple;
  }

  &1 {
    background: $pr-blue;
  }

  &2 {
    background: $pr-red;
  }

  &3 {
    background: $pr-green;
  }

  &4 {
    background: $pr-blue;
  }

  &5 {
    background: $pr-purple;
  }

}
