.chainImage {
  max-width: 15%;
  margin: 0 5%;
}

.chainVerticalImage {
  display: block;
  margin: 5px auto;
}

.chainSmallerVerticalImage {
  max-width: 80%;
  margin: 5px auto;
}

.chainSmallerImage {
  margin: 0 5px;
  max-width: 42%;
}
