/* Client UI */

.ui {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
}

$button-height: 60px;
$button-color: $white;

%uiButton {
  position: relative;
  display: block;
  width: 50%;
  height: $button-height;
  text-indent: -10000px;

  &:focus {
    color: $button-color;
    outline: none;
  }

  &:before {
    @include tx-pseudo;
    top: 50%;
    left: 50%;
  }

}

.next {
  @extend %uiButton;
  background: $pr-greenYellow;

  &:before {
    @include tx-sprite($spt-mediaFF, true);
    margin: (txf-sprite-height($spt-mediaFF) / -2) 0 0 (txf-sprite-width($spt-mediaFF) / -2);
  }

}

.prev {
  @extend %uiButton;
  background: $pr-red;

  &:before {
    @include tx-sprite($spt-mediaRew, true);
    margin: (txf-sprite-height($spt-mediaRew) / -2) 0 0 (txf-sprite-width($spt-mediaRew) / -2);
  }

}

.toggle {
  @extend %uiButton;
  background: $pr-blue;

  &:before {
    @include tx-sprite($spt-mediaTrack, true);
    margin: (txf-sprite-height($spt-mediaTrack) / -2) 0 0 (txf-sprite-width($spt-mediaTrack) / -2);
  }

}

.trackpad {
  position: absolute;
  top: $button-height;
  right: 0;
  bottom: 0;
  left: 0;
  background: $pr-purple;
  opacity: 0;
  transition: $UITransitionDefault;

  &-is-active {
    opacity: 1;
  }

}
