/* Client UI */

.ui {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

$button-color: $white;

%uiButton {
  @include tx-link($button-color, $all: true);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  width: 100%;
  text-align: center;
  text-decoration: none;

  &:focus {
    color: $button-color;
  }

}

.next {
  @extend %uiButton;
  background: $pr-greenYellow;
}

.prev {
  @extend %uiButton;
  background: $pr-red;
}

.play {
  @extend %uiButton;
  background: $pr-blue;
}
