/* Client UI */

.ui {
  position: relative;
  width: 100%;
  height: 100%;
}

$button-color: $white;

%uiButton {
  @include tx-link($button-color, $all: true);
  position: absolute;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50%;
  text-align: center;
  text-decoration: none;

  &:focus {
    color: $button-color;
  }

}

$next-background: $red;

.next {
  @extend %uiButton;
  top: 0;
  background: $next-background;
}

$prev-background: $green;

.prev {
  @extend %uiButton;
  bottom: 0;
  background: $prev-background;
}
