/* Columns */

.column {
  box-sizing: border-box;
  max-width: 50%;
  padding: 0 2em;
  text-align: center;
}

.columnImage {
  display: block;
  margin: 0 auto 1.5em;
}

$columnNote-fontSize: 24px;

.columnNote {
  @include tx-font-size($columnNote-fontSize);
  display: block;
  line-height: 1.5;
}

.columnHeader {
  width: 100%;
  text-align: center;
}

.columnText {
  padding: 0;
  columns: 2;
  column-gap: 100px;
  list-style: none;

  li {
    @include tx-rhythm-padding(.25, .25);
    margin: 0;
  }

}
