/* Frames */

$framesTransition: .35s;

.frames {
  width: 100%;
  height: 100%;
  font-size: 0;
  white-space: nowrap;

  &-is-sliding {
    transition: transform $framesTransition cubic-bezier(0.610, 0.005, 0.380, 1.005);
  }

}
