/* Frame */

.frame {
  @include tx-font-size($fontSize);
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 100%;
  height: 100%;
  vertical-align: top;
  white-space: normal;
}

.frameContent {
  max-width: 40em;
  padding: 0 5em;
}

.points {
  @include tx-font-size(h2, 1.5);
  text-align: center;
  list-style: none;

  > li {
    @include tx-rhythm(2, 2);
  }

}
