.screenShotNote {
  margin: 1em 0 0;
  text-align: center;
}

.screenshotPhone {
  display: inline-block;
  max-width: 350px;
  vertical-align: top;
}

.screenshotSmallerPhone {
  display: inline-block;
  max-width: 270px;
  vertical-align: top;
}

.screenshotSmallestPhone {
  display: inline-block;
  max-width: 200px;
  vertical-align: top;
}

