.select {

  &1 {
    color: #B34251;
  }

  &2 {
    color: #3AC957;
  }

  &3 {
    color: #E0B661;
  }

  &4 {
    color: #5C334F
  }

  &5 {
    color: #DB6C56;
  }

  &6 {
    color: #00A2E8;
  }

  &L {
    color: #FFFA5E;
  }

  &R {
    color: #D17F0D
  }

}
