// sprites.png

// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$spt-mediaFF-name: 'spt-mediaFF';
$spt-mediaFF-x: 33px;
$spt-mediaFF-y: 0;
$spt-mediaFF-offset-x: -33px;
$spt-mediaFF-offset-y: 0;
$spt-mediaFF-width: 28px;
$spt-mediaFF-height: 17px;
$spt-mediaFF-total-width: 61px;
$spt-mediaFF-total-height: 50px;
$spt-mediaFF-image: '../images/sprites.png';
$spt-mediaFF: (33px, 0, -33px, 0, 28px, 17px, 61px, 50px, '../images/sprites.png', 'spt-mediaFF');
$spt-mediaRew-name: 'spt-mediaRew';
$spt-mediaRew-x: 0;
$spt-mediaRew-y: 33px;
$spt-mediaRew-offset-x: 0;
$spt-mediaRew-offset-y: -33px;
$spt-mediaRew-width: 28px;
$spt-mediaRew-height: 17px;
$spt-mediaRew-total-width: 61px;
$spt-mediaRew-total-height: 50px;
$spt-mediaRew-image: '../images/sprites.png';
$spt-mediaRew: (0, 33px, 0, -33px, 28px, 17px, 61px, 50px, '../images/sprites.png', 'spt-mediaRew');
$spt-mediaTrack-name: 'spt-mediaTrack';
$spt-mediaTrack-x: 0;
$spt-mediaTrack-y: 0;
$spt-mediaTrack-offset-x: 0;
$spt-mediaTrack-offset-y: 0;
$spt-mediaTrack-width: 28px;
$spt-mediaTrack-height: 28px;
$spt-mediaTrack-total-width: 61px;
$spt-mediaTrack-total-height: 50px;
$spt-mediaTrack-image: '../images/sprites.png';
$spt-mediaTrack: (0, 0, 0, 0, 28px, 28px, 61px, 50px, '../images/sprites.png', 'spt-mediaTrack');
$ssh-sprites-width: 61px;
$ssh-sprites-height: 50px;
$ssh-sprites-image: '../images/sprites.png';
$ssh-sprites-sprites: ($spt-mediaFF, $spt-mediaRew, $spt-mediaTrack);
$ssh-sprites: (61px, 50px, '../images/sprites.png', $ssh-sprites-sprites);

@mixin ssh-sprites {

  %ssh-sprites {
    background-image: url(nth($ssh-sprites, 3));
  }

}



// sprites@2x.png

// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$spt-mediaFF-2x-name: 'spt-mediaFF@2x';
$spt-mediaFF-2x-x: 66px;
$spt-mediaFF-2x-y: 0;
$spt-mediaFF-2x-offset-x: -66px;
$spt-mediaFF-2x-offset-y: 0;
$spt-mediaFF-2x-width: 56px;
$spt-mediaFF-2x-height: 34px;
$spt-mediaFF-2x-total-width: 122px;
$spt-mediaFF-2x-total-height: 100px;
$spt-mediaFF-2x-image: '../images/sprites@2x.png';
$spt-mediaFF-2x: (66px, 0, -66px, 0, 56px, 34px, 122px, 100px, '../images/sprites@2x.png', 'spt-mediaFF@2x');
$spt-mediaRew-2x-name: 'spt-mediaRew@2x';
$spt-mediaRew-2x-x: 0;
$spt-mediaRew-2x-y: 66px;
$spt-mediaRew-2x-offset-x: 0;
$spt-mediaRew-2x-offset-y: -66px;
$spt-mediaRew-2x-width: 56px;
$spt-mediaRew-2x-height: 34px;
$spt-mediaRew-2x-total-width: 122px;
$spt-mediaRew-2x-total-height: 100px;
$spt-mediaRew-2x-image: '../images/sprites@2x.png';
$spt-mediaRew-2x: (0, 66px, 0, -66px, 56px, 34px, 122px, 100px, '../images/sprites@2x.png', 'spt-mediaRew@2x');
$spt-mediaTrack-2x-name: 'spt-mediaTrack@2x';
$spt-mediaTrack-2x-x: 0;
$spt-mediaTrack-2x-y: 0;
$spt-mediaTrack-2x-offset-x: 0;
$spt-mediaTrack-2x-offset-y: 0;
$spt-mediaTrack-2x-width: 56px;
$spt-mediaTrack-2x-height: 56px;
$spt-mediaTrack-2x-total-width: 122px;
$spt-mediaTrack-2x-total-height: 100px;
$spt-mediaTrack-2x-image: '../images/sprites@2x.png';
$spt-mediaTrack-2x: (0, 0, 0, 0, 56px, 56px, 122px, 100px, '../images/sprites@2x.png', 'spt-mediaTrack@2x');
$ssh-sprites-2x-width: 122px;
$ssh-sprites-2x-height: 100px;
$ssh-sprites-2x-image: '../images/sprites@2x.png';
$ssh-sprites-2x-sprites: ($spt-mediaFF-2x, $spt-mediaRew-2x, $spt-mediaTrack-2x);
$ssh-sprites-2x: (122px, 100px, '../images/sprites@2x.png', $ssh-sprites-2x-sprites);

@mixin ssh-sprites-2x {

  %ssh-sprites {
    background-image: url(nth($ssh-sprites-2x, 3));
    background-size: #{nth($ssh-sprites, 1)} #{nth($ssh-sprites, 2)};
  }

}



// sprites@3x.png

// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$spt-mediaFF-3x-name: 'spt-mediaFF@3x';
$spt-mediaFF-3x-x: 99px;
$spt-mediaFF-3x-y: 0;
$spt-mediaFF-3x-offset-x: -99px;
$spt-mediaFF-3x-offset-y: 0;
$spt-mediaFF-3x-width: 84px;
$spt-mediaFF-3x-height: 51px;
$spt-mediaFF-3x-total-width: 183px;
$spt-mediaFF-3x-total-height: 150px;
$spt-mediaFF-3x-image: '../images/sprites@3x.png';
$spt-mediaFF-3x: (99px, 0, -99px, 0, 84px, 51px, 183px, 150px, '../images/sprites@3x.png', 'spt-mediaFF@3x');
$spt-mediaRew-3x-name: 'spt-mediaRew@3x';
$spt-mediaRew-3x-x: 0;
$spt-mediaRew-3x-y: 99px;
$spt-mediaRew-3x-offset-x: 0;
$spt-mediaRew-3x-offset-y: -99px;
$spt-mediaRew-3x-width: 84px;
$spt-mediaRew-3x-height: 51px;
$spt-mediaRew-3x-total-width: 183px;
$spt-mediaRew-3x-total-height: 150px;
$spt-mediaRew-3x-image: '../images/sprites@3x.png';
$spt-mediaRew-3x: (0, 99px, 0, -99px, 84px, 51px, 183px, 150px, '../images/sprites@3x.png', 'spt-mediaRew@3x');
$spt-mediaTrack-3x-name: 'spt-mediaTrack@3x';
$spt-mediaTrack-3x-x: 0;
$spt-mediaTrack-3x-y: 0;
$spt-mediaTrack-3x-offset-x: 0;
$spt-mediaTrack-3x-offset-y: 0;
$spt-mediaTrack-3x-width: 84px;
$spt-mediaTrack-3x-height: 84px;
$spt-mediaTrack-3x-total-width: 183px;
$spt-mediaTrack-3x-total-height: 150px;
$spt-mediaTrack-3x-image: '../images/sprites@3x.png';
$spt-mediaTrack-3x: (0, 0, 0, 0, 84px, 84px, 183px, 150px, '../images/sprites@3x.png', 'spt-mediaTrack@3x');
$ssh-sprites-3x-width: 183px;
$ssh-sprites-3x-height: 150px;
$ssh-sprites-3x-image: '../images/sprites@3x.png';
$ssh-sprites-3x-sprites: ($spt-mediaFF-3x, $spt-mediaRew-3x, $spt-mediaTrack-3x);
$ssh-sprites-3x: (183px, 150px, '../images/sprites@3x.png', $ssh-sprites-3x-sprites);

@mixin ssh-sprites-3x {

  %ssh-sprites {
    background-image: url(nth($ssh-sprites-3x, 3));
    background-size: #{nth($ssh-sprites, 1)} #{nth($ssh-sprites, 2)};
  }

}
